In [3]:
# import the necessary Library
import pandas as pd
import numpy as np

In [4]:
# visualizing the data
data = pd.read_csv("B:\_GITHUB\Machine-Learning-project-series\social media ads analysis\dataset\social_media_ads.csv")
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [5]:
# check for null values
data.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64